target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.java-version

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/.flattened-pom.xml
