target/
.mvn/wrapper/maven-wrapper.jar
.java-version

### IntelliJ IDEA ###
.idea
*.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/.flattened-pom.xml

fvec/
hdf5/

### Native libraries/objects
*.so
*.o

### asdf (or other version managers)
.tool-versions
